<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUC32pPTdIFNz379CwfXOTcby9GcC6qxs</string>
	<key>GCM_SENDER_ID</key>
	<string>896859789114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Swift-Rabbit.InstagramFire</string>
	<key>PROJECT_ID</key>
	<string>instagramfirebase-e4f6b</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirebase-e4f6b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896859789114:ios:193b18f4d6f007a8a16203</string>
</dict>
</plist>